{% if tagPrefix is not defined %}{% set tagPrefix = 'create' %}{% endif %}
{% set modalId2 = tagPrefix ~ modalId ~ "Modal" %}
{% if nobutton is not defined %}
    <!-- Button trigger modal -->
    <a class="btn btn-primary" role="button" href="#" data-toggle="modal" data-target="#{{ modalId2 }}">{{ modalTitle|trans }}</a>
{% endif %}
{% if noajax is not defined %}
    <div class="modal-header btn-primary">
    <h5 class="modal-title" id="{{ modalId2 }}Label">{{ modalTitle }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="{{ closeMessage|default('Close')}}">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
{% endif %}
{{ form_start(form) }}
<div class="modal-body">
    <p>
    {{ form_label(form.name) }}
    </p>
    <p>
    {{ form_widget(form.name) }}
    </p>
    <p>
    {{ form_widget(form.active) }}
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
    <button type="submit" class="btn btn-primary">{{ saveMessage|default('Save changes')}}</button>
</div>
{{ form_end(form) }}

{% if delete_form is defined %}
    {{ include('domain/_delete_form.html.twig') }}
{% endif %}
