{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Domain{% endtrans %} {{ entity }}</h1>

        {% set modalId, modalTitle = 'domains', 'Edit domain' %}
        {{ include('_modal.html.twig', {
          'included': 'domain/_form',
          'closeMessage': 'Cerrar',
          'nobutton': true,
          })
        }}
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Active{% endtrans %}</th>
            </tr>
            <tr>
                {#}<td><a title="{% trans %}Edit{% endtrans %}" href="{{ path(PREFIX ~ 'edit', { 'id': entity.id }) }}">{{ entity.name }}</a></td>#}
                <td><a title="{% trans %}Edit{% endtrans %}" href="#" data-toggle="modal" data-target="#{{ modalId ~ 'Modal' }}">{{ entity.name }}</a></td>
                <td>{{ entity.active ? '√' : '--' }}</td>
            </tr>
        </tbody>
    </table>
    {{ include('_tabs.html.twig', { 'tdir': 'domain' }) }}
{% endblock %}
