<h2>{% trans %}Users in domain{% endtrans %} {{ entity.name }}</h2>

{% set tagPrefix = 'edit' %}
{% set modalId = 'users' %}
{% set modalSize, included = 'modal-lg', 'tabs/users/_form' %}
{% if users|length > 0 %}
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>{% trans %}User{% endtrans %}</th>
                <th>{% trans %}Full Name{% endtrans %}</th>
                <th>{% trans %}Active{% endtrans %}</th>
                <th>{% trans %}Admin{% endtrans %}</th>
                <th>{% trans %}Certificate{% endtrans %}</th>
                <th>{% trans %}Autoreply{% endtrans %}</th>
            </tr>
            {% for user in users %}{% set email = user.name ~ '@' ~ entity.name %}
            <tr>
                <td><a href="#" data-bs-toggle="modal" data-bs-target="#{{ tagPrefix ~ modalId }}Modal"
                {% if origin is defined %}
                    data-url="{{ path('manage_user_edit', { 'id': user.id, 'origin': origin } ) }}">{{ email }}</a></td>
                {% else %}
                    data-url="{{ path('manage_user_edit', { 'id': user.id } ) }}">{{ email }}</a></td>
                {% endif %}
                <td>{{ user.fullName }}</td>
                <td>{{ user.isActive ? '√' : '--' }}</td>
                <td>{{ user.isAdmin ? '√' : '--' }}</td>
                <td>{{ user.certdata ? '√' : '--' }}</td>
                <td><a
                    {%- if user.reply -%}{% set replyActive = 'Edit' %}
                    class="btn btn-secondary" data-url="{{ path('user_autoreply_edit', { 'id': user.id } ) }}"
                    {%- else -%}{% set replyActive = 'Create' %}
                    class="btn btn-primary" data-url="{{ path('user_autoreply_new', { 'id': user.id } ) }}"
                    {%- endif -%}
                    href="#" data-bs-toggle="modal" data-bs-target="#{{ tagPrefix }}replyModal">
                {{ replyActive|trans }}</a></td>
        </tr>
            {% endfor %}
        </tbody>
    </table>
    {% set modalTitle = 'Edit user' %}
    {{ include('_modal.html.twig', {
      'nobutton': true,
      'form': user_form,
      'delete_form': true,
      })
    }}
    {# Para autoreply #}
    {{ include('_modal.html.twig', {
      'nobutton': true,
      'modalTitle': 'Edit autoreply',
      'form': reply_form,
      'modalId': 'reply',
      'delete_form': true,
      })
    }}
{% else %}
    <p>{% trans %}No users in domain{% endtrans %}</p>
{% endif %}
    {% set tagPrefix = 'create' %}
    {% set modalTitle = 'Create a new user' %}
    {{ include('_modal.html.twig', {
      'noajax': true,
      })
    }}
<br>
