{% extends 'base.html.twig' %}

{% block body %}


<style>
.dashboard {
    width: 500px;
    height: 600px;
    border-radius: 10px;
    gap: 20px;
}
.item {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    width: inherit;
    padding: 40px;
}
#roleadmin {
    background-color: red;
    border-radius: inherit;
}
#rolemanager {
    background: green;
    border-radius: inherit;
}
#roleuser {
    background: orange;
    border-radius: inherit;
}
</style>
    <div class="dashboard d-flex flex-column">
        {% if is_granted('ROLE_ADMIN') %}
        <div id="roleadmin" class="item">
            <li>
                <a class="btn btn-primary" href="{{ path('admin_domain_index') }}">
                {% trans %}Domain administration{% endtrans %}
                </a>
            </li>
        </div>
        {% endif %}
        {% if is_granted('ROLE_MANAGER') %}
        <div id="rolemanager" class="item">
            <li>
                <a class="btn btn-primary" href="{{ path('manage_user_index') }}">
                {% trans %}Users in domain{% endtrans %}
                </a>
            </li>
        </div>
        {% endif %}
        {% if is_granted('ROLE_USER') %}
        <div id="roleuser" class="item">
            <li>
                <a class="btn btn-primary" href="{{ path('user_self_edit') }}">
                {% trans %}Change password{% endtrans %}
                </a>
            </li>{% set modalTitle = 'Change password' %}
    {% set tagPrefix = 'edit' %}
    {% set modalId = 'users' %}
    {% set modalSize, included = 'modal-md', 'user/_pass' %}
    {{ include('_modal.html.twig', {
      'nobutton': true,
      'form': user_form,
      })
    }}

            <li>
                <a class="btn btn-primary" href="{{ path('manage_user_index') }}">
                {% trans %}Autoreply{% endtrans %}
                </a>
            </li>
        </div>
        {% endif %}
    </div>
{% endblock %}
