{{ form_start(form) }}
    <div class="modal-body">

    <div class="row">
        <div class="col-4">{{ form_row(form.name)}}</div>
        <div class="col-5">{{ form_row(form.fullname)}}</div>
        <div class="col-1">{{ form_row(form.active)}}</div>
    </div>
    <div data-controller='form-collection'
        data-form-collection-index-value="{{ form.aliasnames|length > 0 ? form.aliasnames|last.vars.name + 1 : 0 }}"
        data-form-collection-prototype-value="{{ include('prototypes/alias_prototype.html.twig', { 'row': form.aliasnames.vars.prototype })|e('html_attr') }}"
    >
        {% if form.aliasnamesx is defined and domain is defined %}
          <h3>{% trans %}Addresses{% endtrans %} <a href="#" id="add-aliasname" class="btn btn-info"> + {% trans %}New{% endtrans %} </a></h3>
          <table id="aliasnames-container" class="table table-bordered"
            data-prototype="{{ form_widget(form.aliasnames.vars.prototype)|e('html_attr') }}">
            <thead>
              <tr>
                  <th>{% trans %}Email{% endtrans %}</th>
                  <th>{% trans %}Active{% endtrans %}</th>
                  <th>{% trans %}Delete?{% endtrans %}</th>
              </tr>
            </thead>
            <tbody>
              {% for address in form.aliasnames %}
                {{ form_widget(address) }}
              {% endfor %}
              {% do form.aliasnames.setRendered %}
            </tbody>
          </table>
        {% endif %}
    <h3>Addresses</h3>
    <ul {{ stimulus_target('form-collection', 'collectionContainer') }}>
        {% for address in form.aliasnames -%}
            {{ include('prototypes/alias_prototype.html.twig', { 'row': address }) }}
        {%- endfor %}
    </ul>
    <button type="button" class="btn btn-primary" data-action="form-collection#addCollectionElement">{% trans %}Add an address{% endtrans %}</button>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-action="modal-loader#close">{{ closeMessage|default('Close') }}</button>
        <button type="submit" class="btn btn-primary">{{ saveMessage|default('Save changes')|trans }}</button>
    </div>
    {% do form.imap.setRendered %}{% do form.smtp.setRendered %}
    {{ form_end(form) }}
{% if delete_form is defined %}
    {{ include('_delete_form.html.twig') }}
{% endif %}
