    <h2>{% trans %}Aliases in domain{% endtrans %} {{ entity.name }}</h2>
    {% set modalId = 'aliases' %}
    {% set modalSize, included = 'modal-md', 'tabs/aliases/_form' %}

    {% if aliases %}
    {% set tagPrefix = 'edit' %}

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>{% trans %}List{% endtrans %}</th><th>{% trans %}Active{% endtrans %}</th><th>{% trans %}Admin{% endtrans %}</th>
            </tr>
            {% for alias in lists %}{% set email = alias.name ~ '@' ~ alias.domain.name %}
            <tr>
                <td><a href="{{ path('manage_alias_show', { 'id': alias.id } ) }}">{{ email }}</td>
                <td>{{ alias.isActive ? '√' : '--' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        {{ include('_modal.html.twig', {
          'nobutton': true,
          'delete_form': true,
        })
        }}
    {% else %}
      <p>No hay alias definidos</p>
    {% endif %}
    {% set tagPrefix = 'create' %}
    {% set modalTitle = 'Create a new alias' %}
    {{ include('_modal.html.twig', {
      'noajax': true,
      })
    }}
<br>
