    <h2>{% trans %}Aliases in domain{% endtrans %} {{ entity.name }}</h2>
    {% set targetPrefix = 'edit' %}
    {% set modalTarget = targetPrefix ~ 'aliases' %}
    {% set modalId = 'aliases' %}

    {% if aliases %}

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>{% trans %}List{% endtrans %}</th>
                <th>{% trans %}Description{% endtrans %}</th>
                <th>{% trans %}Active{% endtrans %}</th>
            </tr>
            {% for alias in aliases %}{% set email = alias.name ~ '@' ~ alias.domain.name %}
            <tr>
                <td><a href="#" data-bs-toggle="modal" data-bs-target="#{{ modalTarget }}Modal"
                {% if origin is defined %}
                    data-url="{{ path('manage_alias_edit', { 'id': alias.id, 'origin': origin } ) }}">{{ email }}</a></td>
                {% else %}
                    data-url="{{ path('manage_alias_edit', { 'id': alias.id } ) }}">{{ email }}</a></td>
                {% endif %}
                <td>{{ alias.fullname }}</td>
                <td>{{ alias.isActive ? '√' : '--' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
      <p>No hay alias definidos</p>
  {% endif %}
      {% set modalTitle = 'Create a new alias' %}
      <a class="btn btn-primary" href="#" data-url="{{ path('manage_alias_domain_new', { 'id': entity.id } )}}" data-bs-toggle="modal" data-bs-target="#{{ modalTarget }}Modal">{{ modalTitle|trans }}</a>
      {{ include('_modal.html.twig', {
      'nobutton': true,
      'targetPrefix': targetPrefix ~ 'aliases',
      'modalTitle': modalTitle,
      'modalTarget': targetPrefix ~ 'aliasesModal',
      'modalSize': modalSize,
      })
      }}
    {% set modalTitle = 'Create a new alias' %}
    {% set targetPrefix = 'create' %}
    {{ include('_modal.html.twig', {
      'nobutton': true,
      'targetPrefix': targetPrefix ~ 'aliases',
      'modalTitle': modalTitle,
      'modalTarget': modalTarget ~ 'Modal',
      'modalSize': modalSize,
      })
    }}
<br>
