{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Domains list{% endtrans %}</h1>

    <table>
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Active{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for domain in domains %}
            <tr>
                <td><a href="{{ path('domain_show', { 'id': domain.id }) }}">{{ domain.id }}</a></td>
                <td>{{ domain.name }}</td>
                <td>{{ domain.active }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('domain_show', { 'id': domain.id }) }}">{% trans %}show{% endtrans %}</a>
                        </li>
                        <li>
                            <a href="{{ path('domain_edit', { 'id': domain.id }) }}">{% trans %}edit{% endtrans %}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('domain_new') }}">{% trans %}Create a new domain{% endtrans %}</a>
        </li>
    </ul>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">{% trans %}Users list{% endtrans %}</a>
        </li>
    </ul>
{% endblock %}
