{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}User edit{% endtrans %} {{ user.user }}@{{ user.domain }}</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="{% trans %}Save{% endtrans %}" />
    {{ form_end(edit_form) }}

    <ul>
        {% if delete_form is defined %}
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="{% trans %}Delete{% endtrans %}">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
