{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}User{% endtrans %}</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}User{% endtrans %}</th>
                <td>{{ user.user }}</td>
            </tr>
            <tr>
                <th>{% trans %}Password{% endtrans %}</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>{% trans %}Active{% endtrans %}</th>
                <td>{{ user.isActive ? '√' : '--' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Admin{% endtrans %}</th>
                <td>{{ user.isAdmin ? '√' : '--' }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            {% if domain is defined %}{% set editlink = path('manage_user_edit', { 'id': user.id }, { 'domain': domain }) %}
            <a href="{{ path('admin_domain_show', { 'id': user.domain.id }) }}">{% trans %}Back to domain{% endtrans %}</a>
            {% else %}{% set editlink = path('manage_user_edit', { 'id': user.id }) %}
            <a href="{{ path('manage_user_index') }}">{% trans %}Back to the list{% endtrans %}</a>
            {% endif %}
        </li>
        <li>
            <a href="{{ editlink }}">{% trans %}Edit{% endtrans %}</a>
        </li>
    </ul>
{% endblock %}
