{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}User{% endtrans %}</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}User{% endtrans %}</th>
                <td>{{ user.user }}</td>
            </tr>
            <tr>
                <th>{% trans %}Password{% endtrans %}</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>{% trans %}Active{% endtrans %}</th>
                <td>{{ user.active }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">{% trans %}Back to the list{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': user.id }) }}">{% trans %}Edit{% endtrans %}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="{% trans %}Delete{% endtrans %}">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
