{% if ajax is defined %}
    {% set modalId2 = tagPrefix|default('edit') ~ modalId|default(VARS.modalId) ~ "Modal" %}
    <div class="modal-header btn-primary">
        <h5 class="modal-title" id="{{ modalId2 }}Label">{{ modalTitle|trans }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ closeMessage|default('Close')}}">
        </button>
    </div>
{% endif %}

{{ form_start(form, { 'attr': { 'class': 'noajax' } } ) }}
    <div class="modal-body">
        <div class="row">
            <div class="col-6">{{ form_widget(form.pkcs12, { 'attr': { 'data-bs-dismiss': 'modal' } } )}}</div>
            <div class="col-6">{{ form_widget(form.pem, { 'attr': { 'data-bs-dismiss': 'modal' } } ) }}</div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-5">
                {{ form_widget(form.setkey) }}
            </div>
        </div>
    </div>
    {#}<div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">{{ closeMessage|default('Close')|trans }}</button>
        <button type="submit" class="btn btn-primary">{{ saveMessage|default('Save changes')|trans }}</button>
    </div>#}
{{ form_end(form) }}
