{% extends 'base.html.twig' %}

{% block body %}
    {% set tagPrefix = 'create' %}
    <h1>{{ title|trans }}</h1>

{% if ajax is defined %}
    {% set modalId2 = tagPrefix|default('edit') ~ modalId|default(VARS.modalId) ~ "Modal" %}
    <div class="modal-header btn-primary">
        <h5 class="modal-title" id="{{ modalId2 }}Label">{{ modalTitle|trans }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ closeMessage|default('Close')}}">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}

{{ form_start(form) }}
<div class="modal-body">
{% if form.common is defined %}
  <div class="row">
    <div class="col-2">{{ form_label(form.common.countryName)}}</div>
    <div class="col-4">{{ form_widget(form.common.countryName)}}</div>
  </div>
  <div class="row">
    <div class="col-2">{{ form_label(form.common.stateOrProvinceName)}}</div>
    <div class="col-4">{{ form_widget(form.common.stateOrProvinceName)}}</div>
  </div>
  <div class="row">
    <div class="col-2">{{ form_label(form.common.localityName)}}</div>
    <div class="col-4">{{ form_widget(form.common.localityName)}}</div>
  </div>
  <div class="row">
    <div class="col-2">{{ form_label(form.common.organizationName)}}</div>
    <div class="col-4">{{ form_widget(form.common.organizationName)}}</div>
  </div>
  <div class="row">
    <div class="col-2">{{ form_label(form.common.organizationalUnitName)}}</div>
    <div class="col-4">{{ form_widget(form.common.organizationalUnitName)}}</div>
  </div>
  <div class="row">
    <div class="col-2">{{ form_label(form.common.commonName)}}</div>
    <div class="col-4">{{ form_widget(form.common.commonName)}}</div>
  </div>
     {% if form.common.emailAddress is defined %}
      <div class="row">
        <div class="col-2">{{ form_label(form.common.emailAddress)}}</div>
        <div class="col-4">{{ form_widget(form.common.emailAddress)}}</div>
      </div>
    {% endif %}
{% endif %}
 {% if form.interval is defined %}
  <hr>
  <h2>{% trans %}Expiration{% endtrans %}</h2>
 <div class="row">
    <div class="col-2">{{ form_label(form.interval.notBefore)}}</div>
    <div class="col-4">{{ form_widget(form.interval.notBefore)}}</div>
    <div class="col-2">{{ form_label(form.interval.notAfter)}}</div>
    <div class="col-4">{{ form_widget(form.interval.notAfter)}}</div>
  </div>
  <div class="row">
    <div class="col-2">{{ form_label(form.interval.interval)}}</div>
    <div class="col-4">{{ form_widget(form.interval.interval)}}</div>
  </div>
  {% endif %}
  {% if form.plainPassword is defined %}
  <hr>
  <h2>Establecer contraseña para la clave del certificado</h2>
  <div class="row">
    <div class="col-2">{{ form_label(form.plainPassword)}}</div>
    <div class="col-4">{{ form_widget(form.plainPassword)}}</div>
  </div>
  {% do form.plainPassword.setRendered %}
  {% endif %}
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
    <button type="submit" class="btn btn-primary">{{ saveMessage|default('Save changes')|trans }}</button>
</div>
{{ form_end(form) }}

{% if delete_form is defined %}
    {{ include('_delete_form.html.twig') }}
{% endif %}


{% endblock %}
