{% set modalId2 = modalId ~ "Modal" %}
{% if nobutton is not defined %}
    <!-- Button trigger modal -->
    <a class="btn btn-primary" role="button" href="#" data-toggle="modal" data-target="#{{ modalId2 }}">{{ modalTitle }}</a>
{% endif %}
  <!-- Modal -->
  <div class="modal fade" id="{{ modalId2 }}" tabindex="-1" role="dialog" aria-labelledby="{{ modalId2 }}Label" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="{{ modalId2 }}Label">{{ modalTitle }}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="{{ closeMessage|default('Cerrar')}}">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
                {{ include( included ~ '.html.twig') }}
          </div>
      </div>
  </div>
