{% if VARS is defined %}
    {% if VARS.modalSize is defined %}{% set modalSize = VARS.modalSize %}{% endif %}
    {% if VARS.modalTitle is defined %}{% set modalTitle = VARS.modalTitle %}{% endif %}
{% endif %}
{% if modalTarget is not defined %}{% set modalTarget = targetPrefix ~ "Modal" %}{% endif %}
{% set modalLabel = targetPrefix ~ "Label"%}
{% if nobutton is not defined %}
    <!-- Button trigger modal -->
    <a class="btn btn-primary" role="button" href="#" data-bs-toggle="modal" data-bs-target="#{{ modalTarget }}">{{ modalTitle|trans }}</a>
{% endif %}
  <!-- Modal -->
  <div class="modal fade" id="{{ modalTarget }}" tabindex="-1" role="dialog" aria-labelledby="{{ modalLabel }}" aria-hidden="true">
      <div class="modal-dialog {{ modalSize }}" role="document">
          <div class="modal-content" id="{{ modalTarget }}-content">
                <div class="modal-header btn-primary">
                    <h5 class="modal-title" id="{{ modalLabel }}">{{ modalTitle|trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ closeMessage|default('Close')}}">
                    </button>
                </div>
            {% if noajax is defined %}
                {{ include( included|default(VARS.included) ~ '.html.twig', {
                    'modalTarget': modalTarget,
                    }
                ) }}
            {% else -%}
                <script>
                    var {{ modalTarget }} = document.getElementById('{{ modalTarget }}');

                    {{ modalTarget }}.addEventListener('show.bs.modal', function (e) {
                        console.log(e.relatedTarget);
                        fetch(e.relatedTarget.dataset.url)
                        .then( response => response.text())
                        .then( body => document.getElementById('{{ modalTarget }}-content').innerHTML=body );
                        //e.relatedTarget.dataset.loaded = true; // Marcar como cargado
                    }
                );
                </script>

                {% endif %}
          </div>
      </div>
  </div>
