<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {#}<title>{% block title %}VMAIL{% if title is defined %} - {{ title }}{% endif %}{% if is_granted('ROLE_USER') %} - ({{ app.user.username }}/{{ app.user.getRol }}/id:{{ app.user.id }}){% endif %}{% endblock %}</title>#}
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('custom/img/vmaillogo.png') }}" />
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('custom/img/vmaillogo.png') }}" sizes="16x16" />
    </head>
    <body>
        <header class="nav bg-info mb-3 flex-align-center">
        {# Start left side #}
        {% set liclass = "nav-item" %}{% set aclass = "nav-link" %}
            {{ include('_header_left.html.twig') }}
        {# End left side #}
        {# Start right side #}
            {{ include('_header_right.html.twig') }}
        {# End right side #}

        </header>

        <main>
            <div class="container">
            {{ include('_flash.html.twig') }}
                {% block body %}{% endblock %}
            </div>
        </main>


        <footer>


        </footer>

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </body>
</html>
