{% set targetPrefix = 'manage' %}
{% set modalSize = 'modal-xl' %}

{% set modalTarget = targetPrefix ~ 'CA' %}
{% set modalTitle = (entity.certData ? 'Manage' : 'Create') ~ ' CA' %}
<a class="btn btn-primary" href="#" data-action="click->modal-loader#open" data-url="{{ path('admin_certificate_ca', { 'id': entity.id } )}}">{{ modalTitle }}</a>

{% if entity.certData %}
<a class="btn btn-primary" href="{{ path('admin_certificate_cadownload', { 'id': entity.id } )}}">{% trans %}Download CA{% endtrans %}</a>
    <hr>

    {% if entities|length %}
        <h2>{% trans %}Server certificates{% endtrans %}</h2>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <th class="text-center">{% trans %}NotBefore{% endtrans %}</th>
                    <th class="text-center">{% trans %}NotAfter{% endtrans %}</th>
                    <th class="text-center">{% trans %}Download{% endtrans %}</th>
                </tr>
                {% for cert in entities %}
                <tr>
                    <td>{{ cert.description }} ({{ cert.certdata.subject.commonName }})</td>
                    <td class="text-center">{{ cert.interval.notBefore|date('d/m/Y') }}</td>
                    <td class="text-center">{{ cert.interval.notAfter|date('d/m/Y') }}</td>
                    <td class="d-flex justify-content-evenly"><a class="btn btn-primary" href="{{ path('admin_certificate_server_download', {'id': cert.entity.id, 'dtype': 'certkey'}) }}">{% trans %}Download cert and key{% endtrans %}</a>&nbsp;
                    <a class="btn btn-primary" href="{{ path('admin_certificate_server_download', {'id': cert.entity.id, 'dtype': 'chain'}) }}">{% trans %}Download full chain{% endtrans %}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% set modalTarget = targetPrefix ~ 'certificates' %}
    {% set modalTitle = 'Create server certificate' %}
    <a href="#" data-action="click->modal-loader#open" class="btn btn-primary" data-url="{{ path('admin_certificate_server_new', { 'id': entity.id } )}}">{{ modalTitle|trans }}</a>
{% endif %}
