{% extends 'base.html.twig' %}

{% block body %}
    {% if delete_form is defined %}
    <h1>{% trans %}User edit{% endtrans %} {{ user.email }}</h1>
    {% else %}
    <h1>{% trans %}User creation{% endtrans %} @{{ user.domainName }}</h1>
    {% endif %}

    {{ form_start(form) }}
    <div class="row">
      <div class="col-md-3">
        {{ form_widget(form.name) }}
      </div>
      {% if form.domain is defined %}
      <div class="col-md-3">
        {{ form_widget(form.domain) }}
      </div>
      {% endif %}
      <div class="col-md-2">
        {{ form_widget(form.quota) }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        {{ form_widget(form.admin) }}
      </div>
      <div class="col-md-4">
        {{ form_widget(form.active) }}
      </div>
      <div class="col-md-4">
        {{ form_widget(form.sendemail) }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        {{ form_widget(form.plainPassword) }}
      </div>
    </div>
    {{ form_end(form) }}

    {% if form.replys is defined %}
      {% if user.replys|length == 0 %}
        <p><a href="{{ path('user_autoreply_new', { id: user.id })}}">{% trans %}Create autoreply{% endtrans %}</a></p>
      {% else %}
        {% do form.replys.setRendered %}
        {% endif %}
      {% endif %}
    <ul>
        {% if delete_form is defined %}
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="{% trans %}Delete{% endtrans %}">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
