{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}User{% endtrans %}</h1>

            {% if is_granted('ROLE_MANAGER') %}{% if domain is defined %}{% set editlink = path('manage_user_edit', { 'id': user.id }, { 'domain': domain }) %}
            {% else %}{% set editlink = path('manage_user_edit', { 'id': user.id }) %}
            {% endif %}
            {% else %}{% set editlink = path('user_self_edit') %}
            {% endif %}
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>{% trans %}User{% endtrans %}</th>
                <th>{% trans %}Password{% endtrans %}</th>
                <th>{% trans %}Active{% endtrans %}</th>
                <th>{% trans %}Admin{% endtrans %}</th>
                <th>{% trans %}Autoreply{% endtrans %}</th>
            </tr>
            <tr>
                <td><a href="{{ editlink }}">{{ user.name }}</a></td>
                <td>{{ user.password }}</td>
                <td>{{ user.isActive ? '√' : '--' }}</td>
                <td>{{ user.isAdmin ? '√' : '--' }}</td>
                <td>{% if user.replys.count %}√{% else %}<a href="{{ path('user_autoreply_new', { id: user.id }) }}">Crear{% endif %}</a></td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_domain_show', { 'id': user.domain.id }) }}">{% trans %}Back to domain{% endtrans %}</a>
            {% else %}
              {% if is_granted('ROLE_MANAGER') %}
              <a href="{{ path('manage_user_index') }}">{% trans %}Back to the list{% endtrans %}</a>
              {% else %}
              <a href="{{ path('user_self_edit') }}">{% trans %}Back{% endtrans %}</a>
              {% endif %}
            {% endif %}
        </li>
    </ul>
{% endblock %}
