{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Domain list{% endtrans %}</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Active{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for domain in domains %}
            <tr>
                <td><a href="{{ path('admin_domain_showbyname', { 'name': domain.name }) }}">{{ domain.name }}</td>
                <td>{{ domain.active }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <ul>
        <li>
            <a href="{{ path('admin_domain_new') }}" {{ modal }}>{% trans %}Create a new domain{% endtrans %}</a>
        </li>
    </ul>
    {% endif %}

{% endblock %}
