{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Domain{% endtrans %} {{ domain }}</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Active{% endtrans %}</th>
            </tr>
            <tr>
                <td><a {{ modal }} title="{% trans %}Edit{% endtrans %}" href="{{ path('admin_domain_edit', { 'id': domain.id }) }}">{{ domain.name }}</a></td>
                <td>{{ domain.active }}</td>
            </tr>
        </tbody>
    </table>

    <h2>{% trans %}Users in domain{% endtrans %} {{ domain.name }}</h2>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>{% trans %}User{% endtrans %}</th>
                <th>{% trans %}Full Name{% endtrans %}</th>
                <th>{% trans %}Active{% endtrans %}</th>
                <th>{% trans %}Admin{% endtrans %}</th>
            </tr>
            {% for user in users %}{% set email = user.name ~ '@' ~ domain.name %}
            <tr>
                <td><a href="{{ path('manage_user_show_byemail', { 'email': email } ) }}">{{ email }}</td>
                <td>{{ user.fullName }}</td>
                <td>{{ user.isActive ? '√' : '--' }}</td>
                <td>{{ user.isAdmin ? '√' : '--' }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>
                  <a {{ modal }} href="{{ path('admin_domain_user_new', { 'id': domain.id }) }}">{% trans %}Create a new user{% endtrans %}</a>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>{% trans %}Aliases in domain{% endtrans %} {{ domain.name }}</h2>

    {% if lists %}

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>{% trans %}List{% endtrans %}</th><th>{% trans %}Active{% endtrans %}</th><th>{% trans %}Admin{% endtrans %}</th>
            </tr>
            {% for list in lists %}{% set email = list.name ~ '@' ~ domain.name %}
            <tr>
                <td><a href="{{ path('manage_alias_show', { 'id': list.id } ) }}">{{ email }}</td>
                <td>{{ list.isActive ? '√' : '--' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
      <p>No hay alias definidos</p>
    {% endif %}
      <p><a {{ modal }} href="{{ path('manage_alias_new', { 'id': domain.id }) }}">{% trans %}Create a new distribution list{% endtrans %}</a>
      </p>

{% endblock %}
