{% if ajax is defined %}
    {% set modalId2 = tagPrefix|default('edit') ~ modalId|default(VARS.modalId) ~ "Modal" %}
    <div class="modal-header btn-primary">
        <h5 class="modal-title" id="{{ modalId2 }}Label">{{ modalTitle|trans }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ closeMessage|default('Close')|trans}}">
        </button>
    </div>
{% endif %}

{{ form_start(form) }}
    <div class="modal-body">
    {% if entity.id %}
    <h1>{% trans %}User edit{% endtrans %} {{ entity.email }}</h1>
    {% else %}
    <h1>{% trans %}User creation{% endtrans %} @{{ entity.domain }}</h1>
    {% endif %}

    <div class="row">
      <div class="col-md-4">
        {{ form_row(form.name) }}
      </div>
      {% if form.domain is defined %}
      <div class="col-md-2">
        {{ form_row(form.domain) }}
      </div>
      {% endif %}
      <div class="col-md-8">
        {{ form_row(form.fullname) }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        {{ form_row(form.quota) }}
      </div>
      <div class="col-md-3">
        {{ form_widget(form.admin) }}
      </div>
      <div class="col-md-3">
        {{ form_widget(form.active) }}
      </div>
      <div class="col-md-3">
        {{ form_widget(form.sendEmail) }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        {{ form_widget(form.plainPassword) }}
      </div>
    </div>

    </div>
    <div class="modal-footer">
        <button type="button" data-action="modal-loader#close" class="btn btn-secondary" data-bs-dismiss="modal">{{ closeMessage|default('Close')|trans }}</button>
        <button type="submit" class="btn btn-primary">{{ saveMessage|default('Save changes')|trans}}</button>
    </div>
{{ form_end(form) }}

    {% if delete_form is defined %}
        {{ include('/user/_delete_form.html.twig',
        {
        'PREFIX': VARS.PREFIX,
        'VARS': VARS
        }
        ) }}
    {% endif %}
