<div class="modal-body">
    {% if delete_form is defined %}
    <h1>{% trans %}User edit{% endtrans %} {{ entity.email }}</h1>
    {% else %}
    <h1>{% trans %}User creation{% endtrans %} @{{ parent.name }}</h1>
    {% endif %}

    {{ form_start(form) }}
    <div class="row">
      <div class="col-md-2">
        {{ form_row(form.name) }}
      </div>
      {% if form.domain is defined %}
      <div class="col-md-2">
        {{ form_row(form.domain) }}
      </div>
      {% endif %}
      <div class="col-md-8">
        {{ form_row(form.fullname) }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        {{ form_row(form.quota) }}
      </div>
      <div class="col-md-3">
        {{ form_widget(form.admin) }}
      </div>
      <div class="col-md-3">
        {{ form_widget(form.active) }}
      </div>
      <div class="col-md-3">
        {{ form_widget(form.sendemail) }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        {{ form_widget(form.plainPassword) }}
      </div>
    </div>

    {% if form.reply is not defined and entity.id is defined %}
      {% if entity.reply|length == 0 %}
        <p><a href="{{ path('user_autoreply_new', { id: entity.id })}}">{% trans %}Create autoreply{% endtrans %}</a></p>
      {% endif %}
    {% else %}
      {% if entity.id is defined %}
        <hr>
        <h3>{% trans %}Autoreply{% endtrans %}</h3>
        {{ form_widget(form.reply) }}
        {% do form.reply.setRendered %}
        <hr>
      {% endif %}
    {% endif %}
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">{{ closeMessage }}</button>
        <button type="submit" class="btn btn-primary">{{ saveMessage|default('Guardar cambios')}}</button>
    </div>
    {{ form_end(form) }}

{% if delete_form is defined %}
    {{ include('user/_delete_form.html.twig') }}
{% endif %}
