{{ form_start(form) }}

    <div class="modal-body">
        <div class="row">
            <div class="col-md-5">
            {{ form_widget(form.plainPassword) }}
            </div>
        </div>
        <div class="row">
            {% if user.reply|length >0 %}
              {{ form_widget(form.reply) }}
              {% do form.setRendered %}
            {% else %}
                <p><a href="{{ path('user_autoreply_new', { id: user.id })}}">{% trans %}Create autoreply{% endtrans %}</a></p>
            {% endif %}
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">{{ closeMessage|default('Close')|trans }}</button>
        <button type="submit" class="btn btn-primary">{{ saveMessage|default('Save changes')|trans }}</button>
    </div>
{{ form_end(form) }}
