{% extends 'base.html.twig' %}

{% block body %}
<style>
.dashboard {
    width: 700px;
    height: 700px;
    border-radius: 10px;
    gap: 20px;
}
.item {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    width: inherit;
    padding: 40px;
}
#roleadmin {
    background-color: red;
    border-radius: inherit;
}
#rolemanager {
    background: green;
    border-radius: inherit;
}
#roleuser {
    background: orange;
    border-radius: inherit;
}
#usercertificate {
    background: darkcyan;
    border-radius: inherit;
}
</style>
    <div class="dashboard d-flex flex-column">
        {% if is_granted('ROLE_ADMIN') %}
        <div id="roleadmin" class="item">
            <li>
                <a class="btn btn-primary" href="{{ path('admin_domain_index') }}">
                {% trans %}Domain administration{% endtrans %}
                </a>
            </li>
            <li>
                <a class="btn btn-primary" href="{{ path('admin_certificate_index') }}">
                {% trans %}Certificate administration{% endtrans %}
                </a>
            </li>
        </div>
        {% endif %}
        {% if is_granted('ROLE_MANAGER') %}
        <div id="rolemanager" class="item">
            <li>
                <a class="btn btn-primary" href="{{ path('manage_user_index') }}">
                {% trans %}Users in domain{% endtrans %}
                </a>
            </li>
            {% if user.domain.certdata %}
            <li>
                <a class="btn btn-primary" href="{{ path('manage_user_ca_download') }}">
                {% trans %}Download CA certificate{% endtrans %}
                </a>
            </li>
            {% endif %}
        </div>
        {% endif %}
        {% if is_granted('ROLE_USER') %}
            {% set tagPrefix = 'pass' %}
            {% set modalId = 'userpass' %}
            {% set modalId2 = tagPrefix ~ modalId ~ "Modal" %}
            {% set modalTitle = 'Change password' %}
            <div id="roleuser" class="item">
                <li>
                    <a class="btn btn-primary" role="button" href="#" data-bs-toggle="modal" data-bs-target="#{{ modalId2 }}">{{ modalTitle|trans }}</a>
                    </a>
                </li>
                {% set modalSize, included = 'modal-md', 'user/_pass' %}
                {{ include('_modal.html.twig', {
                  'nobutton': true,
                  'form': passform,
                  'noajax': true,
                  })
                }}

                {% set tagPrefix = 'reply' %}
                {% set modalId = 'userreply' %}
                {% set modalSize, included = 'modal-lg', 'reply/_form' %}
                {% set modalId2 = tagPrefix ~ modalId ~ "Modal" %}
                {% set modalTitle = 'Autoreply' %}
                <li>
                    <a class="btn btn-primary" role="button" href="#" data-bs-toggle="modal" data-bs-target="#{{ modalId2 }}">{{ modalTitle|trans }}</a>
                    </a>
                </li>
            {{ include('_modal.html.twig', {
              'nobutton': true,
              'form': replyform,
              'noajax': true,
              })
            }}
        </div>
            {% if user.certData %}
                {% set tagPrefix = 'certificate' %}
                {% set modalId = 'usercertificate' %}
                {% set modalSize, included = 'modal-lg', 'certificates/_download' %}
                {% set modalId2 = tagPrefix ~ modalId ~ "Modal" %}
            <h1>Descarga de certificados</h1>
            <div id="usercertificate" class="item">
                {% set modalTitle = 'User certificate download' %}
                <li>
                    <a class="btn btn-primary item" role="button" href="#" data-bs-toggle="modal" data-bs-target="#{{ modalId2 }}">{{ modalTitle|trans }}</a>
                    </a>
                </li>
            {{ include('_modal.html.twig', {
              'nobutton': true,
              'form': certificateform,
              'noajax': true,
              })
            }}
            {% endif %}
            </div>
            <hr>
        {% endif %}
    </div>
{% endblock %}
