{% extends 'base.html.twig' %}

{% block body %}
<style>
.dashboard {
    height: 700px;
    border-radius: 10px;
    gap: 20px;
    margin: 20px;
}
.item {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    width: inherit;
    padding: 40px;
}
#roleadmin {
    background-color: red;
    border-radius: inherit;
    margin: inherit;
}
#rolemanager {
    background: green;
    border-radius: inherit;
    margin: inherit;
}
#roleuser {
    background: orange;
    border-radius: inherit;
    margin: inherit;
}
#usercertificate {
    background: darkcyan;
    border-radius: inherit;
}
</style>
    <div class="dashboard">
        {% if is_granted('ROLE_ADMIN') %}
        <div id="roleadmin">
            <div class="row text-center font-bold">
                <div class="mt-4 h2">ADMINISTRACION</div>
            </div>
            <div class="item d-flex d-column">
                <a class="btn btn-primary" href="{{ path('admin_domain_index') }}">
                {% trans %}Domain administration{% endtrans %}
                </a>
            </div>
        </div>
        {% endif %}
        {% if is_granted('ROLE_MANAGER') %}
        <div id="rolemanager">
            <div class="row text-center font-bold">
                <div class="mt-4 h2">GESTION</div>
            </div>
            <div class="item d-flex d-column">
                <a class="btn btn-primary" href="{{ path('manage_user_index') }}">
                {% trans %}Users in domain{% endtrans %}
                </a>
            {% if user.domain.certdata %}
                <a class="btn btn-primary" href="{{ path('manage_user_ca_download') }}">
                {% trans %}Download CA certificate{% endtrans %}
                </a>
            {% endif %}
            </div>
        </div>
        {% endif %}
        {% if is_granted('ROLE_USER') %}
            <div id="roleuser">
            <div class="row text-center font-bold">
                <div class="mt-4 h2">PERSONAL</div>
            </div>
                <div class="d-column item">
                {% set targetPrefix = 'pass' %}
                {% set modalTarget = targetPrefix ~ 'Modal' %}
                {% set modalTitle = 'Change password' %}
                {% set modalSize = 'modal-md' %}
                {{ include('_modal.html.twig', {
                  'nobutton': true,
                  'targetPrefix': targetPrefix,
                  'modalTarget': modalTarget,
                  'modalTitle': modalTitle,
                  'modalSize': modalSize,
                  })
                }}
                <a class="btn btn-primary" href="#" data-url="{{ path(PREFIX ~ 'pass') }}" data-bs-toggle="modal" data-bs-target="#{{ modalTarget }}">{{ modalTitle|trans }}</a>
                {% set targetPrefix = 'autoreply' %}
                {% set modalTarget = targetPrefix ~ 'Modal' %}
                {% set modalTitle = 'Autoreply' %}
                {% set modalSize = 'modal-lg' %}
                {{ include('_modal.html.twig', {
                  'nobutton': true,
                  'targetPrefix': targetPrefix,
                  'modalTarget': modalTarget,
                  'modalTitle': modalTitle,
                  'modalSize': modalSize,
                  })
                }}
                    <a class="btn btn-primary" role="button" href="#" data-url="{{ path('user_autoreply_edit', { 'id': user.id } ) }}" data-bs-toggle="modal" data-bs-target="#{{ modalTarget }}">{{ modalTitle|trans }}</a>

                    {% if user.certData %}
                        {% set modalTitle = 'User certificate download' %}
                        {% set targetPrefix = 'certificate' %}
                        {% set modalTarget = targetPrefix ~ 'Modal' %}
                        {% set modalSize = 'modal-lg' %}
                    <a class="btn btn-primary" role="button" href="#" data-url="{{ path(PREFIX ~ 'download') }}" data-bs-toggle="modal" data-bs-target="#{{ modalTarget }}">{{ modalTitle|trans }}</a>
                        {{ include('_modal.html.twig', {
                          'nobutton': true,
                          'targetPrefix': targetPrefix,
                          'modalTarget': modalTarget,
                          'modalTitle': modalTitle,
                          'modalSize': modalSize,
                          })
                        }}
                    {% endif %}
                </div>

                </div>
            </div>
            <hr>
        {% endif %}
    </div>
{% endblock %}
