{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}User edit{% endtrans %} {{ user.email }}</h1>

    {{ form_start(form) }}
    <div class="row">
    <div class="col-md-5">
    {{ form_widget(form.plainPassword) }}
    </div>
    </div>
    <div class="row">
    {% if user.reply|length >0 %}
      {{ form_widget(form.reply) }}
      {% do form.setRendered %}
    {% else %}
        <p><a href="{{ path('user_autoreply_new', { id: user.id })}}">{% trans %}Create autoreply{% endtrans %}</a></p>
    {% endif %}
    </div>
    {{ form_end(form) }}

{% endblock %}
