{% extends 'base.html.twig' %}

{% block body %}
    <h1>Alias edit</h1>

    {{ form_start(edit_form) }}
        <ul class="virtuals" data-prototype="{{ form_widget(edit_form.virtuals.vars.prototype)|e('html_attr') }}">
        {{ form_widget(edit_form) }}
        {% block jsform %}{% endblock %}
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('manage_alias_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
