{% extends 'base.html.twig' %}

{% block b1 %}
<thead>
    <tr>
        <th>{% trans %}Email{% endtrans %}</th>
        <th>{% trans %}Active{% endtrans %}</th>
        <th>{% trans %}Delete?{% endtrans %}</th>
    </tr>
</thead>
{% endblock %}

{% block body %}
    <h1>{% trans %}Alias edit{% endtrans %}</h1>

    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.name) }}
            </div>
        </div>

        {% if domain.id == 0 %}{% set backpath = path('admin_alias_index') %}
            <h3>{% trans %}Aliases{% endtrans %} <a href="#" id="add-alias" class="btn btn-default"> + {% trans %}New{% endtrans %} </a></h3>
        <table id="aliases-container" class="table table-bordered" data-prototype="{{ form_widget(form.aliases.vars.prototype)|e('html_attr') }}">
        {% else %}{% set backpath = path('manage_virtuals_index', { 'id': domain.id }) %}
            <h3>{% trans %}Virtuals{% endtrans %} <a href="#" id="add-virtual" class="btn btn-default"> + {% trans %}New{% endtrans %} </a></h3>
        <table id="virtuals-container" class="table table-bordered" data-prototype="{{ form_widget(form.virtuals.vars.prototype)|e('html_attr') }}">
        {% endif %}
        {{ block('b1') }}
      <tbody>
        {% if domain.id == 0 %}{% set assetjs = asset('/shared/js/user-aliases.js') %}
          {% for virtual in form.aliases %}
            {{ form_widget(alias) }}
          {% endfor %}
          {# do form.aliases.setRendered #}
        {% else %}{% set assetjs = asset('/shared/js/user-virtuals.js') %}
          {% for virtual in form.virtuals %}
            {{ form_widget(virtual) }}
          {% endfor %}
          {# do form.name.setRendered #}
        {% endif %}
      </tbody>
    </table>
    {{ form_end(form) }}
    <ul>
        <li>
            <a href="{{ backpath }}">{% trans %}Back to the list{% endtrans %}</a>
        </li>
    </ul>
      <script type="text/javascript" src="{{ assetjs }}"></script>
{% endblock %}
