{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ title|trans }}</h1>

    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.name) }}
            </div>
        </div>

        {% if domain is defined %}{% set backpath = path('manage_alias_index', { 'id': domain.id }) %}
        {% else %}{% set backpath = path('manage_alias_index', { 'id': 0 }) %}
        {% endif %}
        {% if form.addressnames is defined and domain is defined %}
          <h3>{% trans %}Addresses{% endtrans %} <a href="#" id="add-addressname" class="btn btn-default"> + {% trans %}New{% endtrans %} </a></h3>
          <table id="addressnames-container" class="table table-bordered"
            data-prototype="{{ form_widget(form.addressnames.vars.prototype)|e('html_attr') }}">
            <thead>
              <tr>
                  <th>{% trans %}Email{% endtrans %}</th>
                  <th>{% trans %}Active{% endtrans %}</th>
                  <th>{% trans %}Delete?{% endtrans %}</th>
              </tr>
            </thead>
            <tbody>
            {% set assetjs = asset('/shared/js/user-aliases.js') %}
              {% for address in form.addressnames %}
                {{ form_widget(address) }}
              {% endfor %}
              {# form.addressnames.block_prefixes #}
              {# do form.vmailbundle_alias.block.setRendered #}
            </tbody>
          </table>
          <script type="text/javascript" src="{{ assetjs }}"></script>
        {% endif %}
    {{ form_end(form) }}
    <ul>
        <li>
            <a href="{{ backpath }}">{% trans %}Back to the list{% endtrans %}</a>
        </li>
    </ul>
{% endblock %}
