{% extends 'base.html.twig' %}

{% block body %}
    <h1>Aliases list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Alias</th>
                <th>Addresses</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            {% for alias in aliases %}
            <tr>
                <td><a href="{{ path('alias_show', { 'id': alias.id }) }}">{{ alias.alias }}</td>
                <td>{% for virtual in alias.virtuals %}
                {{ virtual.address }}<br />
                {% endfor %}</td>
                <td>{{ alias.active }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('manage_alias_new') }}">Create a new alias</a>
        </li>
    </ul>
{% endblock %}
