{% extends 'base.html.twig' %}

{% block body %}
    {% if domain is defined %}<h1>{% trans %}Aliases list in{% endtrans %} @{{ domain }}</h1>
    {% set newpath = path('manage_domain_alias_new', { 'id': domain.id }) %}
    {% else %}<h1>{% trans %}Aliases list{% endtrans %}</h1>
    {% set newpath = path('manage_alias_new', { 'id': 0 }) %}
    {% endif %}
    <table class="table table-bordered">
      <thead>
          <tr>
              <th>Alias</th>
              <th>Addresses</th>
              <th>Active</th>
          </tr>
      </thead>
      <tbody>
        {% for item in items %}
          <tr>
          {% if domain is not defined %}
            <td><a href="{{ path('manage_alias_show', { 'id': item.id }) }}">
            {{ item.name }}</td>
            <td>{% for alias in item.aliases %}
              {{ alias.address }}<br />
            {% endfor %}</td>
          {% else %}
            <td><a href="{{ path('manage_virtuals_show', { 'id': item.id }) }}">
            {{ item.name }}</td>
            <td>{% for alias in item.virtuals %}
              {{ alias.address }}<br />
            {% endfor %}</td>
          {% endif %}
          <td>{{ item.active }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ newpath }}">Create a new alias</a>
        </li>
    </ul>
{% endblock %}
