{% extends 'base.html.twig' %}

{% block body %}
    <h1>Alias</h1>

    <table>
        <tbody>
            <tr>
                <th>{% trans %}Email address{% endtrans %}</th>
                <th>{% trans %}Addresses{% endtrans %}</th>
                <th>{% trans %}Active{% endtrans %}</th>
            </tr>
            <tr>
                <td><a href="{{ path('manage_alias_edit', { id: item.id }) }}">{{ item }}</a></td>
                <td>{% for address in item.virtuals %}
                {{ address.email }}</td>
                {% endfor %}
                <td>{{ item.active }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('manage_alias_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
