{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Alias{% endtrans %} {{ item ~ '@' ~ item.domainName }}</h1>

    <table>
        <tbody>
            <tr>
                <th>{% trans %}Email address{% endtrans %}</th>
                <th>{% trans %}Addresses{% endtrans %}</th>
                <th>{% trans %}Active{% endtrans %}</th>
            </tr>
            <tr>
              {% if item.domain.id == 0%}{% set backpath = path('admin_alias_index') %}
                <td><a href="{{ path('admin_alias_edit', { id: item.id }) }}">{{ item }}</a></td>
                <td>{% for address in item.aliases %}
                {{ address.email }}</td>
                {% endfor %}
              {% else %}{% set backpath = path('manage_virtuals_index', { 'id': item.domain }) %}
                <td><a href="{{ path('manage_virtuals_edit', { id: item.id }) }}">{{ item }}</a></td>
                <td>{% for address in item.virtuals %}
                {{ address.email }}</td>
                {% endfor %}
              {% endif %}
                <td>{{ item.active }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ backpath }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
