{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Alias{% endtrans %} {{ item ~ '@' ~ item.domainName }}</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>{% trans %}Email address{% endtrans %}</th>
                <th>{% trans %}Active{% endtrans %}</th>
            </tr>
            <tr>
              {% set backpath = path('manage_alias_index', { 'id': item.domain.id }) %}
                <td><a href="{{ path('manage_alias_edit', { id: item.id }) }}">{{ item }}</a></td>
                <td>{{ item.active }}</td>
            </tr>
        </tbody>
    </table>

    {% if item.addressnames.count > 0 %}
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>{% trans %}Alias address{% endtrans %}</th>
                <th>{% trans %}Active{% endtrans %}</th>
            </tr>
            {%- for address in item.addressnames -%}
            <tr>
                <td>{{ address.aliasname.email }}</td>
                <td>{{ item.active }}</td>
            </tr>
            {%- endfor -%}
        </tbody>
    </table>
    {% endif %}

    <p>{{ item.addressnames.count }} direcciones para el alias</p>
    <ul>
        <li>
            <a href="{{ backpath }}">{% trans %}Back to the list{% endtrans %}</a>
        </li>
    </ul>
{% endblock %}
